<header class = "header header-6">
	<div class="branding">
    <%= link_to "Eh?PI", root_path, :class => "title" %>
  	</div> <!-- end branding -->

<div class="header-nav">
	<%= link_to 'Home', root_path, :class =>"nav-link nav-text" %>
  <%= link_to 'Turbonomic', '/turbonomic/index', :class =>"nav-link nav-text" %>
  <%= link_to 'VMware', '/vmware/index', :class =>"nav-link nav-text" %>
  <%= link_to 'Podcast', '/podcast/index', :class =>"nav-link nav-text" %>
</div>

</header>