<!DOCTYPE html>
<html>
  <head>
    <title>Eh?PI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clarity-icons/0.10.28/clarity-icons.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@clr/ui/clr-ui.min.css">
    <link rel="stylesheet" type="text/css" href="chttps://unpkg.com/clarity-icons/clarity-icons.min.css">
    <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>
    <!--CLARITY ICONS STYLE-->
    <link rel="stylesheet" href="https://unpkg.com/clarity-icons/clarity-icons.min.css">

    <!--CLARITY ICONS DEPENDENCY: CUSTOM ELEMENTS POLYFILL-->
    <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>

    <!--CLARITY ICONS API & ALL ICON SETS-->
    <script src="https://unpkg.com/clarity-icons/clarity-icons.min.js"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>

  <!-- Begin Header Navigation -->
  <%= render partial: "shared_partials/header" %>
  <!-- End Header Navigation -->

  <!-- Begin Notices --> 
  <% if notice %>
    <div class="alert alert-primary alert-dismissable fade show" role="alert"><%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <!-- End Notices -->

  <!-- Begin Alerts -->
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <!-- End Alerts -->

  <!-- Content -->
  <div class="main-container">
    <div class="content-container">
      <div class="content-area">
        <%= yield %>
      </div>
    </div>
  </div>
  <!-- End content -->

  </body>
</html>
